AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>

    RewriteEngine On

    Options -Indexes

    # Do not rewrite requests that are already inside public/
    RewriteRule ^public/ - [L]

    # Send everything else to public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]

</IfModule>

<FilesMatch "\.(env|json|xml|log|md|lock|git|ini|bak|sql)$">
    Require all denied
</FilesMatch>