<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Existing files and folders should load normally
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Everything else goes through LavaLust
    RewriteRule ^ index.php [QSA,L]

</IfModule>

<FilesMatch "^(\.env|composer\.(json|lock)|package\.json|package-lock\.json|\.git)">
    Require all denied
</FilesMatch>